.hero {
  background: #000;
  position: relative;
  top: 0;
  color: #fff;
  overflow: hidden;
  .intro-hero {
    margin: 35vh auto;
    text-align: center;
    h2 {
      font: 700 72px/80px $font-primary;
    }
    p {
      margin: 15px 0 50px;
      font: 500 20px $font-primary;
    }
  }
  .title {
    padding-top: 30px;
    font: 500 42px $font-primary;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    .intro-hero {
      margin: 30vh auto;
    }
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    .intro-hero {
      margin: 35vh auto;
    }
  }
}
